@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
}

body {
    width: 1600px;
}


.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding: 94px 0;
}

header {
    border: 1px solid gainsboro;
}

header .container {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    
}

header ul {
    list-style: none;
    display: flex;
}

.logo {
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    color: #212121;
}

.logo span {
    color: #2196F3;
}

header a, .logo, footer a {
    text-decoration: none;
}

.nav {
    margin-right: 100px;
}

.nav, .contact {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
}

.nav ul {
    padding: 0;
}

.nav li {
    margin-right: 50px;
}

.nav a {
   color: #212121;
}

.nav a:hover, .contact a:hover {
    color: #2196F3;
}

.contact li {
    margin-left: 40px;
}

.contact a {
    color: #757575;
}

.email {
    width: 16px;
    height: 12px;
}

.phone {
    width: 10px;
    height: 16px;
}

.contact a img {
    margin-right: 10px;
}

.contact a:hover img {
    filter: invert(42%) sepia(100%) saturate(620%) hue-rotate(183deg) brightness(96%) contrast(92%);
}

.head {
    font-family: 'Roboto', sans-serif; 
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 188px;
    background-image: url('/images/bg/bg-header.svg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative;
}

.head h1 {
    font-size: 44px;
    font-weight: 900;
    padding: 0 240px; 
}

.button {
    background-color: #2196F3;
    color: #FFFFFF;
    border: 0;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    padding: 10px;
    font-weight: 700;
    margin: 34px 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.button:hover {
    background-color: #1976D2; 
}

.future-img {
    display: flex;
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.future-img img {
    width: 70px;
    height: 70px;
}

.features {
    padding-bottom: 94px;
    font-family: Roboto;
}

.features h3 {
    font-weight: 700;
    font-size: 14px;
    color: #212121;
}

.features p {
    font-weight: 400;
    font-size: 14px;
    color: #757575;
}

.features ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.features li {
    margin: 20px;
}

.features li {
    list-style: none;
}

.images {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}
.images img {
    width: 370px;
    height: 294px;
}

.our-work {
    position: relative;
}

.our-work img {
    width: 100%;
    display: block;
}

.our-work h3 {
    position: absolute;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #2F303ACC;
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    opacity: 0.8;
    bottom: 0px;

}

.images-h2, .team h2 {
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 47px;
}

.team {
    background-color: #F5F4FA; 
}

.team h2 {
    padding-bottom: px;
}

.cart {
    font-family: Roboto;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.cart article {
    border-bottom: 1px solid #757575;
    width: 270px;
    text-align: center;
    font-family: 'Roboto';
    background: #FFFFFF;
    border-radius:  0 0 4px 4px;
}

.cart img {
    width: 270px;
    height: 260px;
}

.cart h3 {
    font-weight: 500;
    font-size: 16px;
    color: #212121;
    padding-bottom: 8px;
}

.cart p {
    font-size: 16px;
    color: #757575;
    font-weight: 400;
}

.cart .backdown {
    padding: 20px;
}

.social {
    display: flex;
    gap: 10px; 
    justify-content: center; 
    align-items: center;
    margin: 10px 0; 
}

.social a {
    display: inline-block;
    width: 44px; 
    height: 44px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a img {
    width: 20px; 
    height: 20px;
}

.social a:hover {
    background-color: #007acc; /* Зміна кольору фону при наведенні */
    opacity: 0.8; /* Прозорість при наведенні */
}

.social a:hover img {
    filter: brightness(0) invert(1);
}


.regular-customer h2 {
    text-align: center;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    margin-bottom: 50px;
}

.regular-customer-img {
    display: flex;
    justify-content: space-between;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customer-img img:hover {
    border: 1px solid #2196F3;
    filter: invert(42%) sepia(100%) saturate(620%) hue-rotate(183deg) brightness(96%) contrast(92%);
}

.regular-customer-img img {
    width: 106px;
    height: 60px;
    padding: 16px 32px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.p-main .filters {
    display: flex;
    justify-content: center;
    padding-bottom: 34px;
}


.p-main .container article img {
    width: 370px;
    height: 294px;
}

.p-main .container article {
    border: 1px solid black;
    width: 370px;
    height: 404px;
    font-family: 'Roboto';

}

.text-cont h3 {
    font-weight: 700;
    font-size: 18px;
    color: #212121;
    padding: 9px 0;
}

.text-cont p {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    padding: 7px 0;
}


.text-cont {
    padding: 18px;
    padding-left: 25px;
    justify-content: center;
    text-align: left;
}


.p-main .section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    gap: 20px;
    padding: 10px; /* Відстань між елементами */
}

 .p-main .section article {
    background-color: #FFFFFF;
    border: 1px solid #ccc; /* Рамка для елементів */
    text-align: center; /* Центрування тексту */
    margin-top: 10px;
}

.filters button {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    padding: 7px 20px;
    background-color: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    border: 0px;
    margin: 0 8px;
}

.filters button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}

.p-main {
    padding: 94px 0;
}


footer {
    font-family: Roboto;
    background-color: #2F303A;
    height: 211px;
    padding: 20px 0;
}

footer .logo {
    color: #FFFFFF;
}

.full-logo {
    padding-bottom: 20px;
}

.footer-contact a, .footer-contact p {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
}

.footer-contact p {
    color: #FFFFFF;
    padding-bottom: 10px;
}

.footer-contact a {
    color: #FFFFFF99;
    padding-bottom: 10px;
}

.footer-info {
    height: 100%;
    display: flex;
    flex-direction: row; /* Зміна на горизонтальне вирівнювання */
    align-items: center; /* Вирівнювання по вертикалі */
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.f-social {
    margin-left: 100px;
}

.f-social h3 {
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
}

.f-social-img {
    margin-left: 100px;
    display: flex;
    gap: 10px;
    margin: 10px 0;
    margin: 30px 0;
}

.f-social-img a {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #474b58;
}

.f-social-img img {
    filter: brightness(0) invert(1);
}

.f-social-img a:hover {
    background-color: #2196F3;
}



/* #2196F3 */

.nav {
    position: relative;
}

.nav a {
    position: relative;
    color: #000; /* Колір тексту за замовчуванням */
    transition: color 0.3s ease; /* Додаємо перехід для кольору тексту */
}

.nav a.active {
    color: #2196F3;
}

.nav li.active a::after {
    content: '';
    position: absolute;
    bottom: -32px; 
    left: 0;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav li:not(.active) a:hover::after {
    left: 0;
}

.box {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(+100%);
    transition: transform 250ms ease;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #2196F3E5;
}

.overlay p {
    padding: 24px;
    color: #FFFFFF;
}

.project:hover .box .overlay {
    transform: translateX(0);
}

.text-cont {
    position: relative;
}

.project:hover {
    box-shadow: 0 10px 15px rgba(143, 139, 117, 0.9);
    transition: box-shadow 0.3s ease-in-out;
  }
  
/* Бекдроп */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий темний фон */
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
  }
  
  /* Модальне вікно */
  .modal {
    position: relative;
    max-width: 528px;
    width: 90%;
    height: 581px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    transform: scale(0.8); /* Початковий стан для анімації */
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1001;
  }
  
  /* Кнопка закриття модального вікна */
  .modal__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* Видимість бекдропа та модального вікна */
  .backdrop:not(.is-hidden) {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  
  .backdrop:not(.is-hidden) .modal {
    transform: scale(1); /* Масштабування при появі */
    opacity: 1;
  }



/* Бекдроп */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
  
  /* Модальне вікно */
.modal {
    position: relative;
    max-width: 448px;
    width: 90%;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    z-index: 1001;
    transform: scale(0.8);
    transition: transform 0.3s ease, opacity 0.3s ease;
    color: #212121;
    text-align: left;
    font-family: Roboto;
    justify-content: center;
    height: 541px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container img {
    position: absolute;
    top: 16px;
    left: 10px; /* Відстань від лівого краю контейнера */
    width: 18px; /* Ширина зображення */
    height: 18px; /* Висота зображення */
}

#name, #email, #phone {
    padding-left: 35px;
    width: 100%;
    box-sizing: border-box; 
}

.input-container input:focus, #message:focus {
   border: 1px solid #2196F3;
   outline: none;
}

.custom-link {
    color: #2196F3;
}

  .modal h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }

  .modal label {
    font-size: 12px;
    color: #757575;
  }
  
  /* Закриття модального вікна */
  .modal__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* Форма заявки */
  .request-form {
    display: flex;
    flex-direction: column;
  }
  
  .request-form label {
    margin-top: 10px;
  }
  
  .request-form input,
  .request-form textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.request-form textarea {
    resize: none;
}
  
  .request-form input::placeholder,
  .request-form textarea::placeholder {
    color: #999;
  }
  
  .request-form button {
    margin-top: 15px;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
  }

.request-form img {
    width: 18px;
    height: 18px;
}

#check-box {
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
    font-weight: 400;
}
  
#message {
    height: 120px;
}

.button-send {
    text-align: center;
}

.mailing {
    font-family: Roboto;
    margin-left: 130px;
}

.f-mailing {
    font-family: Roboto;
    display: flex;
    margin-bottom: 30px;
    margin: 30px 0;
}

.mailing h3 {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
}

.mailing button {
    display: flex;
    align-items: center; 
    border: none; 
    background-color: #2196F3; 
    color: #FFFFFF; 
    font-size: 16px; 
    cursor: pointer;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
    font-weight: 700;
}

.send-icon {
    margin-left: 8px; 
    width: 20px; 
    height: 20px; 
}


.f-email {
    width: 316px;
    height: 48px;
    background-color: #2F303A;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 0 20px;
    border: 1px solid #FFFFFF4D;
}

.f-email:focus {
    outline: none;
    border: 1px solid #FFFFFF;
}









