// Змінні кольорів
$primary-color: #2196F3;
$secondary-color: #757575;
$bg-color: #F5F4FA;
$text-color: #212121;
$white: #FFFFFF;
$button-bg-color: #F5F4FA;
$button-hover-bg-color: #2196F3;
$overlay-bg-color: rgba(33, 150, 243, 0.9);

// Змінні шрифтів
$font-raleway: 'Raleway', sans-serif;
$font-roboto:'Roboto', sans-serif;

// Інші змінні
$container-width: 1200px;
$button-width: 200px;
$button-height: 50px;
